body {
    background-color: rgb(85, 159, 202);
}

.form-group {
    margin-top: 10x;

}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.btn {
  margin-top: 10px;
  width: 10%;
  color: rgb(79, 36, 104); 
  text-decoration: none; 
  user-select: none; 
  background: rgb(201, 125, 172); 
  padding: .7em 1.5em;
    outline: none; 

}


.btn:hover { background: rgb(41, 59, 165); } 
.btn:active { background: rgb(204, 41, 77); } 
main {
    text-align: center;
}
